choreography artifacts/User/TransportationMeanArtifacts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://iaas.uni-stuttgart.de/allowEnsembles/chor/TripBooking/TransportationMean" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransportationMeanArtifacts"
	targetNamespace="http://iaas.uni-stuttgart.de/allowEnsembles/chor/TripBooking/TransportationMean"
	xmlns:transp_types="http://iaas.uni-stuttgart.de/allowEnsembles/chor/TripBooking/TransportationMean/Types"
	xmlns:context_route="http://www.allow-ensembles.com/Context"
	xmlns:urban_mobility="http://iaas.uni-stuttgart.de/allowEnsembles/chor/TripBooking/UrbanMobility"
	xmlns:wsdl1="http://iaas.uni-stuttgart.de/allowEnsembles/TransportationMeanService">
	<plnk:partnerLinkType name="UrbanMobility-TransportationMean-realizedBy-TransportationMeanPT-plt">
		<plnk:role name="TransportationMeanProvider" portType="tns:TransportationMeanPT" />
	</plnk:partnerLinkType>
	<plnk:partnerLinkType name="TransportationMeanParticipant-TransportationMeanService-PLT">
		<plnk:role name="TransportationMeanPartnerRole" portType="context_route:context_v20" />
	</plnk:partnerLinkType>
	
	<wsdl:import location="context_v24.wsdl"
		namespace="http://www.allow-ensembles.com/Context" />
	<wsdl:types>
		<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://iaas.uni-stuttgart.de/allowEnsembles/chor/TripBooking/TransportationMean"
			xmlns:pref="http://iaas.uni-stuttgart.de/allowEnsembles/chor/TripBooking/UrbanMobility" xmlns:pref1="http://iaas.uni-stuttgart.de/allowEnsembles/Route">
			
			<xsd:import
				namespace="http://iaas.uni-stuttgart.de/allowEnsembles/chor/TripBooking/TransportationMean/Types"
				schemaLocation="TransportationMean.xsd" />

			<xsd:import schemaLocation="UrbanMobility.xsd"
				namespace="http://iaas.uni-stuttgart.de/allowEnsembles/chor/TripBooking/UrbanMobility">
			</xsd:import>
			<xsd:import schemaLocation="RouteSchema.xsd" namespace="http://iaas.uni-stuttgart.de/allowEnsembles/Route"></xsd:import>
			<xsd:element name="TransportationMean-TransportationMeanPT-Request" type="transp_types:tRequestType" />
			
			<xsd:element name="TransportationMean-TransportationMeanPT-Response" type="transp_types:tResponseType" />
			
			<xsd:element name="TransportationMeansPLs"
				type="transp_types:TransportationMeansListType" />

			
			<xsd:element name="requestTripResponseMessageType"
				type="transp_types:tResponseType" />

			<xsd:element name="routeInformationRequestCounterElement"
				type="transp_types:routeInformationRequestCounterType" />


			<xsd:element name="tripAlternative"
				type="pref:tripAlternativeType">
			</xsd:element>

			<xsd:element name="routeStep" type="pref1:routeStepType"></xsd:element>
			
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="requestTripRequestMessage">
		<wsdl:part element="tns:TransportationMean-TransportationMeanPT-Request" name="payload" />
	</wsdl:message>
	<wsdl:message name="requestTripResponseMessage">
		<wsdl:part element="tns:TransportationMean-TransportationMeanPT-Response" name="payload" />
	</wsdl:message>
	<wsdl:portType name="TransportationMeanPT">
		<wsdl:operation name="requestTrip">
			<wsdl:input message="tns:requestTripRequestMessage" />
			<wsdl:output message="tns:requestTripResponseMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TransportationMean-TransportationMeanPT-Binding" type="tns:TransportationMeanPT">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="requestTrip">
			<soap:operation soapAction="http://iaas.uni-stuttgart.de/allowEnsembles/chor/TripBooking/TransportationMean/requestTrip" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TransportationMean-TransportationMeanPT-Service">
		<wsdl:port binding="tns:TransportationMean-TransportationMeanPT-Binding" name="TransportationMean-TransportationMeanPT-Port">
			<soap:address location="http://localhost:8080/ode/processes/TransportationMean-TransportationMeanPT-Service" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
