choreography artifacts/TransportationMeanDiscovery/TransportationMeanDiscoveryArtifacts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://iaas.uni-stuttgart.de/allowEnsembles/TransportationMeanDiscovery" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransportationMeanDiscoveryArtifacts"
	targetNamespace="http://iaas.uni-stuttgart.de/allowEnsembles/TransportationMeanDiscovery"
	xmlns:pass="http://iaas.uni-stuttgart.de/allowEnsembles/chor/TripBooking/Passenger">
	
	<plnk:partnerLinkType name="UrbanMobility-TransportationMeanDiscovery-realizedBy-TransportationMeanDiscoveryPT-plt">
		<plnk:role name="TransportationMeanDiscoveryProvider" portType="tns:TransportationMeanDiscoveryPT" />
	</plnk:partnerLinkType>
	
	<wsdl:types>
		<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://iaas.uni-stuttgart.de/allowEnsembles/TransportationMeanDiscovery">
			<xsd:import
				namespace="http://iaas.uni-stuttgart.de/allowEnsembles/chor/TripBooking/Passenger"
				schemaLocation="Passenger.xsd" />
			
			<xsd:element name="TransportationMeanDiscovery-TransportationMeanDiscoveryPT-Request">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ensembleID" type="xsd:string" />
						<xsd:element name="pickupPoint" type="pass:locationType"></xsd:element>
						<xsd:element name="destinationPoint" type="pass:locationType"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TransportationMeanDiscovery-TransportationMeanDiscoveryPT-Response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ensembleID"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="out"
							type="tns:transportationMeanAlternativeReferences" minOccurs="0"
							maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
			<xsd:complexType
				name="transportationMeanAlternativeReferences">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"></xsd:element>
					<xsd:element name="endpointReference" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			
			
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="discoverTransportationAlternativesRequest">
		<wsdl:part element="tns:TransportationMeanDiscovery-TransportationMeanDiscoveryPT-Request" name="payload" />
	</wsdl:message>
	<wsdl:message name="discoverTransportationAlternativesResponse">
		<wsdl:part element="tns:TransportationMeanDiscovery-TransportationMeanDiscoveryPT-Response" name="payload" />
	</wsdl:message>
	<wsdl:portType name="TransportationMeanDiscoveryPT">
		<wsdl:operation name="discoverTransportationAlternatives">
			<wsdl:input message="tns:discoverTransportationAlternativesRequest" />
			<wsdl:output message="tns:discoverTransportationAlternativesResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TransportationMeanDiscovery-TransportationMeanDiscoveryPT-Binding" type="tns:TransportationMeanDiscoveryPT">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="discoverTransportationAlternatives">
			<soap:operation soapAction="http://iaas.uni-stuttgart.de/allowEnsembles/TransportationMeanDiscovery/discoverTransportationAlternatives" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TransportationMeanDiscovery-TransportationMeanDiscoveryPT-Service">
		<wsdl:port binding="tns:TransportationMeanDiscovery-TransportationMeanDiscoveryPT-Binding" name="TransportationMeanDiscovery-TransportationMeanDiscoveryPT-Port">
			<soap:address location="http://localhost:8080/ode/processes/TransportationMeanDiscovery-TransportationMeanDiscoveryPT-Service" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
